.heroes-container{
    margin: 0 10%;
}

.hero-container{
    border-radius: 2pt;
    float: left;
    margin: 8px 3% 8px 0;
    padding-bottom: 20px;
    width: 47%;
    -webkit-box-shadow: 1px 2px 8px 0px rgba(117,117,117,1);
    -moz-box-shadow: 1px 2px 8px 0px rgba(117,117,117,1);
    box-shadow: 1px 2px 8px 0px rgba(117,117,117,1);
}

.hero-container header{
    padding: 16px 16px;
}

.hero-container header h2{
    margin: 0;
}

.hero-text{
    padding: 0 16px;
}

.hero-text a{
    color: #616161;
}

.hero-text a:hover{
    color: #424242;
}

.hero-text p{
	min-height: 60px;
}

.image-wrapper{
    margin: 0;
    max-height: 250px;
    overflow: hidden;
}

@media only screen and (max-width: 780px) {
    .heroes-container{
        margin: 0;
        width: 100%;
    }

    .hero-container{
        float: none;
        width: 90%;
        margin: auto;
    }

    .hero-container header{
        padding-top: 8px;
        padding-bottom: 8px;
    }
}

@media only screen and (max-width: 480px) {
    .hero-container{
        float: none;
        width: 100%;
        margin-bottom: 4px;
    }
}