a:hover{
    font-size: 1.1em;
    font-weight: bold;
}

.credits ul{
    list-style: none;
}

.credits ul a{
    margin-left: 1%;
}

.mapa{
    width: 70%;
    margin: auto;
}

@media only screen and (max-width: 780px) {
	.mapa{
		width: 80%;
	}	
}

@media only screen and (max-width: 480px) {
	.mapa{
		width: 90%;
	}	
}