/*En esta hoja se agregan todos los estilos para la tabla de contenidos*/
a:hover{
    font-weight: bold;
}

.main-data{
    width: 59%;
}

.profile aside {
    /*La tabla de contenidos se agrega al lado de la descripción principal y se le agrega una sombra
    para otorgarle relieve*/
    float: left;
    padding: 16px;
    border-radius: 2pt;
    margin: 16px;
    -webkit-box-shadow: 1px 2px 8px 0px rgba(117,117,117,1);
    -moz-box-shadow: 1px 2px 8px 0px rgba(117,117,117,1);
    box-shadow: 1px 2px 8px 0px rgba(117,117,117,1);
}

.profile aside h3{
    text-align: center;
    margin-top: 0;
}

.profile aside ul{
    margin-bottom: 0;
}

.profile aside ul, .skills ul{
    list-style: none;
    padding-left: 0;
}

@media only screen and (max-width: 780px) {
    /*La tabla de contenidos flota hacia abajo y no se muestra al lado de la descripción principal*/
	.main-data{
		width: 80%;
	}	
}